.subscribe-button {
  background-color: red;
  height: 30px;
  border: none;
  width: 100px;
  color: white;
  border-radius: 8px;
  margin-right: 10px;
  font-weight: bold;
}
.subscribe-button:hover {
    cursor: pointer;
}
.join-button {
  background-color: blue;
  height: 30px;
  background: white;
  border-color: blue;
  border-style: solid;
  color: blue;
  border-radius: 1x;
  margin-right: 10px;
  font-weight: bold;
}
.tweet-button {
  background-color: rgb(12, 159, 245);
  color: white;
  height: 36px;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  width: 65px;
}
